#login{
    position: fixed;
    background-color: fuchsia;
    width: 300px;
    height: 350px;
    right: 0px;
    top: 40px;
}


#upperField{
    background-color: fuchsia;
    margin-left: -10px;
    width: 101%;
    height: 70px;
    margin-top: -10px;
    position: fixed;
}

#information{
    background-color: aquamarine;
    position: initial;
    width: 105%;
    height: 700px;
}

#tablet{
    background-color: aquamarine;
    table-layout: initial;
    width: 100%;
    margin-left: -8px;
    margin-bottom: -5px;
    height: 110%;
}
